
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Magaro</title>
    </head>
    <body>
        <div id="headerMenu">
            <img id="logo"/>
        </div>
        <div id="container">
            <div id="aboutUs">
                <div id="bigLogo"></div>
                <div id="aboutText"></div>
            </div>
            <div id="artists1">
                <div class="artistInfo">
                    <p>artist1</p>
                </div>
                <div class="artistInfo">
                    <p>artist2</p>
                </div>
                <div class="artistInfo">
                    <p>artist3</p>
                </div>
            </div>

            <div id="artists2">
                <div class="artistInfo">
                    <p>artist1</p>
                </div>
                <div class="artistInfo">
                    <p>artist2</p>
                </div>
                <div class="artistInfo">
                    <p>artist3</p>
                </div>
            </div>

            <div id="artists3">
                <div class="artistInfo">
                    <p>artist1</p>
                </div>
                <div class="artistInfo">
                    <p>artist2</p>
                </div>
                <div class="artistInfo">
                    <p>artist3</p>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>
                Magaro es un proyecto académico.
                <br>
                Los derechos de los contenidos mostrados quedan reservados a sus propetarios.
            </p>
        </div>
    </body>
</html>
